<nav class="pagination is-medium" role="navigation" aria-label="pagination">

    {{#if prev}}
        <a href="{{page_url}}" class="pagination-next">Posts siguientes</a>
    {{/if}}

    <span class="pagination-link is current"> Page {{page}} of {{pages}}</span>

    {{#if next}}
        <a href="{{page_url_next}}" class="pagination-previous"> Posts antiguos</a>
    {{/if}}
</nav>