{{!< default}}

<main class="container">  {{!-- solo apareceran 3 porque en el package solo he abilitado 3 por pagina --}}
    <div class="columns is-multiline">
        {{#foreach posts}}
            <div class="column is-half">
                {{> post_card}}{{!-- no me funciona esta linea  --}}
            </div>
        {{/foreach}}
    </div>
</main>

{{!-- template  block de paginacion --}}
{{pagination}}